{% if content %}
    <!-- Intervenants -->
    <section id="anchor_intervenant" class="col-4  ">
        <h5 class="text-purple p-1  text-center ">
            Description
        </h5>
        <div class="card-body text-muted bg-white shadow">
            {{ content | raw }}
        </div>
    </section>
{% endif %}