<!-- Intervenants -->
<section id="anchor_intervenant" class="bg-white">
    <h5 class="text-purple p-1  text-center ">
        Intervenants
    </h5>
    <div class="card-body">
            {{ form_row(form.writers) }}
            {{ form_row(form.readers) }}
        <div class="form-group row m-2">
            {{ form_row(form.showall) }}
        </div>
    </div>
</section>