<section>
    <div  class="mr-3 ml-3 p-3 bg-white shadow">
    <p class="text-center {{ corbeille.showRead ?'text-success':'text-warning' }}">
        <i class="fas fa-{{ corbeille.showRead ?'check':'times'}} fa-3x"></i><br>
        Consultation
    </p>
    </div>
</section>