<section>
    <div  class="mr-5 ml-3 p-3 bg-white shadow">
        <p class="text-center {{ corbeille.showWrite ?'text-success':'text-warning' }}">
            <i class="fas fa-{{ corbeille.showWrite ?'check':'times'}} fa-3x"></i><br>
            Modification
        </p>
    </div>
</section>