<!-- Intervenants -->
<section id="anchor_intervenant" class="bg-white">
    <h5 class="text-purple p-1  text-center ">
        Arborescence
    </h5>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-12">
                <label for="cmb_dir1" id="lbl_dir1">
                    Niveau 1
                </label>
                <button type="button" class="btn  float-right" data-toggle="modal" data-target="#addDir" data-whatever="cmb_dir1">
                    <i class="fa fa-plus-circle text-success"></i>
                </button>
            </div>
            <div class="col">
                <select aria-label="lbl_dir1" name="cmb_dir1" id="cmb_dir1" class="form-control">
                </select>
            </div>
        </div>

        <div class="form-group row" id="div_dir2">
            <div class="col-12">
                <label for="cmb_dir2" id="lbl_dir2">
                    Niveau 2
                </label>
                <button type="button" class="btn  float-right" data-toggle="modal" data-target="#addDir" data-whatever="cmb_dir2">
                    <i class="fa fa-plus-circle text-success"></i>
                </button>
            </div>
            <div class="col">
                <select aria-label="lbl_dir2" name="cmb_dir2" id="cmb_dir2" class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row" id="div_dir3">
            <div class="col-12">
                <label for="cmb_dir3" id="lbl_dir3">
                    Niveau 3
                </label>
                <button type="button" class="btn  float-right" data-toggle="modal" data-target="#addDir" data-whatever="cmb_dir3">
                    <i class="fa fa-plus-circle text-success"></i>
                </button>

            </div>
            <div class="col">
                <select aria-label="lbl_dir3" name="cmb_dir3" id="cmb_dir3" class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row"  id="div_dir4">
            <div class="col-12">
                <label for="cmb_dir4" id="lbl_dir4">
                    Niveau 4
                </label>
                <button type="button" class="btn  float-right" data-toggle="modal" data-target="#addDir" data-whatever="cmb_dir4">
                    <i class="fa fa-plus-circle text-success"></i>
                </button>
            </div>

            <div class="col">
                <select aria-label="lbl_dir4" name="cmb_dir4" id="cmb_dir4" class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row"  id="div_dir5">
            <div class="col-12">
                <label for="cmb_dir5" id="lbl_dir5">
                    Niveau 5
                </label>
                <button type="button" class="btn  float-right" data-toggle="modal" data-target="#addDir" data-whatever="cmb_dir5">
                    <i class="fa fa-plus-circle text-success"></i>
                </button>

            </div>
            <div class="col">
                <select aria-label="lbl_dir5" name="cmb_dir5" id="cmb_dir5" class="form-control">
                </select>
            </div>
        </div>

    </div>
</section>

