{% if dateNew %}
    {% set difference = date("today").diff(date(dateNew)) %}
    {% set leftDays = difference.days %}
    {% if leftDays <8 %}
        <span class="badge bg-gradient-fuchsia">
            <i class="fas fa-certificate"></i> Nouveau
        </span>
    {% endif %}
{% endif %}