<section id="anchor_picture" class="bg-white pb-5">
    <h5 class="text-purple p-1 pt-3 pb-3 text-center ">
        Image
    </h5>
    <div class="card-body">
        {{ form_row(form.picture) |raw }}
    </div>
</section>