{% extends './mail/template.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}
{% block title_content %} Mot de passe oublié {% endblock %}

{% block body %}
    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w580"  width="580">
                <p>
                    &nbsp;
                </p>
                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                    Mot de passe oublié
                </h2>
                <p>
                    &nbsp;
                </p>
                <div align="left" class="article-content">

                    <p >Bonjour <b>{{ user.name }},</b></p>

                    <p> Vous avez demandé à récupérer votre mot de passe.</p>
                    <p>
                        Vous pouvez le faire en <a href="{{ url('profil_password_recover', {'token': user.forgetToken}) }}">cliquant
                            ici</a> ou en collant le lien suivant dans votre navigateur {{ url('profil_password_recover', {'token': user.forgetToken}) }}
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Merci d'utiliser <b>DCGDR Sharepoint</b> et à bientôt
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <br/><br/>




{% endblock %}


