{% extends './mail/template.html.twig' %}

{% block title %} Création de votre adresse e-mail {% endblock %}
{% block title_content %} Création de votre adresse e-mail {% endblock %}

{% block body %}
    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td class="w580"  width="580">
                <p>
                    &nbsp;
                </p>
                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                    Création de votre compte
                </h2>
                <p>
                    &nbsp;
                </p>
                <div align="left" class="article-content">

                    <p >Bonjour <b>{{ user.name }},</b></p>

                    <p> Vous vous êtes récemment inscrit sur notre site.</p>
                    <p>
                        Afin de finaliser l'inscription et de valider votre compte, <a
                                href="{{ url('profil_email_validated', {'token': user.emailValidatedToken}) }}">cliquez-ici</a> ou
                        collez le lien suivant dans votre navigateur {{ url('profil_email_validated', {'token': user.emailValidatedToken}) }}
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Merci d'utiliser <b>DCGDR Sharepoint</b> et à bientôt
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <br/><br/>




{% endblock %}

