<div class="{{ col_secondary }}">
    <div class="card border border-info">
        <div class="card-body text-center">
            {{ form_row(form.subscription) }}
        </div>
    </div>
    <div class="card ">
        <div class="card-footer">
            Habillitations
        </div>
        <div class="card-body select2-primary">
            {{ form_widget(form.roles) }}
        </div>
    </div>

    <div class="card ">
        <div class="card-footer">
            Organismes
        </div>
        <div class="card-body select2-primary">
            {{ form_widget(form.organismes) }}
        </div>
    </div>
</div>